@use '../../theme/variables.scss' as *;

ion-content {
  padding: 16px;
}

.list-request {
  display: grid;
  gap: 12px;
}

.request-item {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--shadow-base);
}
