@use '../../theme/variables.scss' as *;

ion-content {
  padding: 0;
}

/* Placeholder mapa */
.map-placeholder {
  height: calc(100vh - 56px);
  background: linear-gradient(180deg, #f0f4ff, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,0.45);
  font-size: 18px;
}
