<ion-content class="login-container">

  <div class="form-wrapper">

    <div class="field">
      <label class="field-label">Email</label>
      <ion-input class="field-input" placeholder="Enter your email" type="email"></ion-input>
    </div>

    <div class="field">
      <label class="field-label">Password</label>
      <ion-input class="field-input" placeholder="Enter your password" type="password"></ion-input>

      <div class="forgot">
        Forgot your password?
      </div>
    </div>

    <ion-button expand="block" class="btn-primary" (click)="goToDashboard()">
      SIGN IN
    </ion-button>

    <div class="or">OR</div>

    <ion-button expand="block" class="btn-google">
      <img src="assets/google-logo.png" class="google-icon">
      CONTINUE WITH GOOGLE
    </ion-button>

    <div class="footer-text">
      ¿Don’t you have an account?
      <span class="link" (click)="goToRegister()">Create one</span>
    </div>

  </div>

</ion-content>
