<ion-content fullscreen>

  <!-- HEADER -->
  <div class="header">
    <ion-icon name="arrow-back-outline" class="back"></ion-icon>
    <span class="edit">Edit profile/</span>
  </div>

  <!-- PROFILE SECTION -->
  <div class="profile-container">

    <img class="avatar" src="assets/profile.jpg" />

    <div class="info">
      <h2 class="name">Marcos Antonio Valero Nieves</h2>

      <div class="rating-row">
        <span class="rating-number">5</span>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
      </div>

      <span class="userid"># 12q0w</span>
    </div>

    <ion-icon name="trophy" class="trophy"></ion-icon>
  </div>

  <!-- TITLE -->
  <h2 class="section-title">what do you want to do?</h2>

  <!-- OPTIONS GRID -->
  <div class="grid">

    <div class="card">
      <img src="assets/mas.png" class="card-icon" />
      <p class="card-title">Add<br />certificate</p>
    </div>

    <div class="card">
      <img src="assets/mas.png" class="card-icon" />
      <p class="card-title">Add<br />experience</p>
    </div>

    <div class="card">
      <img src="assets/mas.png" class="card-icon" />
      <p class="card-title">Requests</p>
    </div>

  </div>

</ion-content>
